@import "src/scss/vars";


.form-component {
  width: 100%;
  display: flex;
  justify-content: center;

  @mixin font-style() {
    font-family: Panton-Light, serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: var(--bg-2);
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .btn-wrapper{
    button{
      width: 235px;
      height: 50px;
    }
  }



  .notebook-textbox {
    @include font-style();

    width: 100%;
    overflow: hidden;
    border: none;
    //height: 300px;
    padding: 0px;
    font-size: 16px;
    line-height: 24px; /* 1.5 times the font size */
    background: repeating-linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0) calc(24px - 2px), /* Adjust the end of the white background to leave space for the line */
                    var(--bg-2) calc(24px - 2px), /* Start of the line */
                    var(--bg-2) 24px /* End of the line */
    );

    //background: repeating-linear-gradient(
    //                to bottom,
    //                #fff,
    //                #fff calc(2em - 2px), /* Adjust the end of the white background to leave space for the line */
    //                var(--bg-2) calc(2em - 2px), /* Start of the line */
    //                var(--bg-2) 2em /* End of the line */
    //);
    resize: none;
    outline: none;

    &::placeholder {
      color: var(--bg-2);
    }
  }

  .custom-file-upload {
    display: flex;
    cursor: pointer;
    align-items: center;
    @include font-style();

    .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin-right: 10px;
      outline: $border;
      border-radius: 8px;

      .img {
        width: 16px;
        height: 16px
      }
    }

  }

  .form-input {
    @include font-style();

    border: none;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid var(--bg-2);
    outline: none;


    &[type="file"] {
      display: none;
    }


    &:focus-visible, &:focus {

    }

    &::placeholder {
      color: var(--bg-2);

    }
  }

  .form-wrapper {
    border-radius: $radius-30;
    background-color: var(--bg-1);
    outline: $border;
  }
}

.text-or {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}


@media (max-width: $mobile-breakpoint) {

  .btn-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }


  .wrapper1 {
    gap: 45px
  }

  .form-wrapper {
    padding:  45px 28px 34px 28px;
    width: 100%;
  }
}

@media (min-width: $mobile-breakpoint) {

  .btn-wrapper{
    margin-top: 37px;
    display: flex;
    justify-content: center;
  }

  .wrapper1 {
    gap: 41px
  }

  .form-wrapper {
    padding: 55px 45px 45px 40px;
    width: 593px;
    //width: 40%;
  }

}
