@import "src/scss/vars";


.form-component {
  width: 100%;
  display: flex;
  justify-content: center;

  @mixin font-style() {
    font-family: Panton;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    /* text-align: center; */
    color: var(--bg-2);
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .btn-wrapper{

  }

  .notebook-textbox {
    @include font-style();

    width: 100%;
    overflow: hidden;
    border: none;
    //height: 300px;
    padding: 0px;
    font-size: 16px;
    line-height: 22px; /* 1.5 times the font size */
    background: repeating-linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0) calc(22px - 2px), /* Adjust the end of the white background to leave space for the line */
                    var(--bg-2) calc(22px - 2px), /* Start of the line */
                    var(--bg-2) 22px /* End of the line */
    );

    resize: none;
    outline: none;

    &::placeholder {
      color: var(--bg-2);
    }
  }

  .custom-file-upload {
    display: flex;
    cursor: pointer;
    align-items: center;
    @include font-style();

    .img-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin-right: 10px;
      outline: $border;
      border-radius: 8px;

      .img {
        width: 16px;
        height: 16px
      }
    }

  }

  .border-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;

    &:after {
      border-bottom: 2px solid var(--bg-2);
      position: absolute;
      content: "";
      width: 100%;
    }
  }

  .form-input {
    @include font-style();
    border: none;
    width: 100%;
    background: transparent;
    outline: none;

    &[type="file"] {
      display: none;
    }


    &:focus-visible, &:focus {

    }

    &::placeholder {
      color: var(--bg-2);

    }
  }

  .form-border {
    border-radius: $radius-30;
    background-color: var(--bg-1);
    outline: $border;
  }



  .text-or {
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  @media (min-width: $mobile-breakpoint) {
    .btn-wrapper{

      button{
        //styleName: P4;
        font-family: Panton SemiBold;
        font-size: 18px;
        font-weight: 600;
        line-height: 21.87px;
        text-align: center;
      }

    }

  }


  @media (max-width: $mobile-breakpoint) {

    .border-wrapper {

      &:after {
        left: 5px;
        bottom: -8px;
      }
    }

    .btn-wrapper{
      margin-top: 30px;
      display: flex;
      justify-content: center;

      button{
        width: 235px;
        height: 50px;
      }

    }

    .about{
      margin-top: 25px;
      margin-bottom: 20px;
    }

    .check{
      //margin-top: 20px;
      //margin-bottom: 30px;

      //styleName: P3 Text Mobile;
      font-family: Panton;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.6px;

    }


    .wrapper1 {
      gap: 49px;
    }


    .form-wrapper {
      margin:  45px 28px 34px 28px;
    }

    .form-border{
      width: 100%;
    }
  }

  @media (min-width: $mobile-breakpoint) {

    .wrapper-label{
      width: 342px !important;
    }

    .checkbox-label{
      //styleName: P3;
      font-family: Panton Light;
      font-size: 12px;
      font-weight: 300;
      line-height: 14.48px;

    }

    .about{
      margin-bottom: 22px;
    }

    .file{
      margin-bottom: 43px;
    }

    .text-or {
      margin-top: 20px;
      margin-bottom: 6px;
    }

    .name{
      margin-bottom: 61px;
    }

    .tel{
      margin-bottom: 55px;
    }

    .direction{
      margin-bottom: 51px;
    }

    .border-wrapper {

      &:after {
        left: 5px;
        bottom: -1px;    }
    }


    .btn-wrapper{
      margin-top: 37px;
      display: flex;
      justify-content: center;
    }

    .wrapper1 {
      //gap: 51px
    }

    .form-wrapper {
      margin: 55px 45px 45px 40px;
      //width: 40%;
    }

    .form-border{
      width: 593px;
    }

  }

}

