@import "src/scss/vars";

.team-cards {


  .team-card {
    .card-img {
      outline: $border;
      border-radius: $radius-20;
      max-height: 401px;
      max-width: 283px;
      overflow: hidden;
    }

    .card-text-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .card-text {
      max-width: 230px;
    }

    .h4-h1, .h6-h6 {
      text-align: center;
    }

    .card-name {

    }

    .card-role {

    }
  }


  @media (max-width: $mobile-breakpoint) {
    margin: 35px 0;


    .team-card {
      .card-img {
        height: 401px;
        width: 285px;
      }
    }

    .cards-wrapper {
      margin-top: 35px;
      margin-bottom: 35px;

      gap: 35px;
      justify-content: center;

      .team-card {
        .card-img {

        }

        .card-name {
          margin-top: 15px;
          margin-bottom: 7px;
        }

        .card-role {

        }
      }

    }
  }

  @media (min-width: $mobile-breakpoint) {
    //margin: 80px 0 0 0;
    transform: translateX(-2px);

    .team-card {
      .card-img {
        height: 401px;
        width: 285px;
      }
    }

    .cards-wrapper {
      gap: 29px;
      margin-top: 76px;
      margin-bottom: 92px;

      .team-card {
        .card-img {

        }

        &:last-child.team-card{
          transform: translateX(3px);
        }

        .card-name {
          margin-top: 30px;
          margin-bottom: 7px;
        }

        .card-role {

        }
      }

    }
  }

}
