@import "src/scss/vars";

.spline {

  .icon-rounded{
    outline: $border;
    padding: 5px;
    cursor: pointer;
    background: var(--bg-1);
    display: flex;
    align-items: center;

    &:hover{
      background: var(--bg-2);
      svg{
        path{
          fill: var(--bg-1);
        }
      }
    }
  }


  @media (max-width: $mobile-breakpoint) {

  }

  @media (min-width: $mobile-breakpoint) {

  }
}
