@import "src/scss/vars";

.who-we-page {
  position: relative;
  overflow: hidden;

  .img-gauss {
    position: absolute;
    top: 75px;
    left: 50%;
    //transform: translateX(50%);
    z-index: -1;
    width: 460px;
    height: 463px;
  }


  .img-gauss2 {
    position: absolute;
    top: 760px;
    left: -478px;
    //right: 50%;
    transform: rotate(-155deg);
    z-index: -1;
    width: 956px;
    height: 963px;
  }

  .img-gauss3 {
    position: absolute;
    bottom: -78px;
    left: -338px;
    z-index: -1;
    width: 677px;
    height: 682px;
  }


  .who-we-icon {
    width: 50px;
    height: 50px;
  }

  .img-3d-wrapper {
    display: flex;
    justify-content: center;
  }

  .text-achievement {

    .p1 {

    }
  }


  .achievement {

    .table-achievements {


      .row {
        justify-items: center;
      }

    }

    .text-achievement {
      display: flex;
      justify-content: center;

      .p1 {

      }
    }
  }

  .projects {
    .video-wrapper {
      display: flex;
      justify-content: center;

      .video {
        overflow: hidden;
        position: relative;
        max-width: 1162px;
        max-height: 654px;
        outline: $border;
        border-radius: $radius-20;
      }
    }
  }


  .img-gauss1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* right: 0; */
    z-index: -1;
    /* text-align: center; */
    width: 682px;
    height: 728px;
  }

  .true-gif {
    position: relative;
    width: 279px;
    max-height: 275px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .video {
    .text-video {
      position: absolute;
      font-weight: 700;
      text-align: center;
    }

    .play {
      position: absolute;
      cursor: pointer;
    }
  }

  .team-photo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .header {
      text-align: center;
    }
  }

  .who-we-footer {
    text-align: center;
    h3{
      text-align: center;
    }

    .text {
      text-align: center;
    }
  }


  @media (max-width: $mobile-breakpoint) {


    h6 {
      //styleName: P5 Text Mobile;
      font-family: Panton Light;
      font-size: 14px;
      font-weight: 300;
      line-height: 16.8px;
      letter-spacing: 0.03em;
      text-align: left;

    }

    .contacts-wrapper {
      gap: 30px;

      .phone {
        font-family: Panton-Light, serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;
        letter-spacing: 0.03em;
      }
    }

    .content {
      margin-top: 35px;
      margin-bottom: 35px;
    }


    .icons-wrapper {
      gap: 20px
    }

    .who-we-footer {
      h3 {
        margin-top: 30px;
        //margin-bottom: 30px;
        margin-bottom: 0;
      }

      h6 {
        margin: 0;
      }

      .text {
        //margin-top: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
      }

      .phone-number {
        display: flex;
        justify-content: center;

      }
    }

    .team-photo {
      .header {
        //styleName: H1 Header Mobile;
        font-family: Panton;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;
      }
    }

    .video-wrapper {
      margin: 35px 0;

      .video {
        //height: 328px;
        height: fit-content;
        .img-cover{
          min-height: 328px;
        }

        .text-video {
          top: 63px;
          left: 30px;
          font-size: 48px;
        }

        .play {
          max-width: 60px;
          max-height: 60px;
          bottom: 19px;
          right: 19px;
        }
      }
    }
    .logo {
      margin-bottom: 20px;

      img {
        max-width: 195px;
        max-height: 34px;
      }
    }

    .text-achievement {
      margin-top: 30px;
    }

    .img-3d-wrapper {
      margin-top: 35px;
      margin-bottom: 35px;

      .img-ring {
        width: 137px;
        height: 97px;
      }
    }


    h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    .year {
      line-height: 19.2px;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 25px;
    }

    .place {
      line-height: 19.2px;
      font-weight: 700;
      margin-bottom: 10px;
      color: var(--bg-8)
    }

    .site {
      line-height: 19.2px;

      font-weight: 400;
    }


  }

  @media (min-width: $mobile-breakpoint) {

    .video {
      .text-video {
        width: 393px;
      }

    }
    .team-events {
      .img-3d-wrapper {
        margin-bottom: 80px;
      }
    }
    .top {
      h6 {
        max-width: 557px;
      }
    }
    .content {
      margin-top: 123px;
      margin-bottom: 68px;
    }


    .contacts-wrapper {

      .phone {
        margin-right: 225px;

        .p4 {
          font-family: Panton-Light, serif;
          font-size: 24px;
          font-weight: 300;
          line-height: 36px;
          letter-spacing: 0.03em;
          text-align: left;
        }

        //styleName: P4 Text Mobile;


      }
    }

    .icons-wrapper {
      gap: 22px
    }

    .who-we-footer {
      h3 {
        margin-top: 60px;
        margin-bottom: 40px;
      }

      h6 {
        margin: 0;
      }

      .text {
        margin-bottom: 40px;
      }
    }

    .team-photo {
      .header {
        font-weight: 700;
        font-size: 36px;
      }
    }

    .video-wrapper {
      margin: 80px 0;

      .video {

        .text-video {
          top: 270px;
          left: 98px;
          font-size: 72px;
        }

        .play {
          max-width: 116px;
          max-height: 116px;
          bottom: 58px;
          right: 58px;
        }
      }
    }

    .team {
      .img-3d-wrapper {
        margin-top: 80px;
        margin-bottom: 40px;
      }

      .h6-p1 {
        max-width: 1009px;
      }
    }


    .projects {
      .img-3d-wrapper {
        margin: 80px 0;
      }
    }

    .logo {
      margin-bottom: 40px;

      img {
        max-width: 386px;
        max-height: 70px;
      }
    }

    .text-achievement {
      margin-top: 108px;
    }

    .achievement {

      h3 {
        margin-left: 231px;

        letter-spacing: 0;
      }

      .table-wrapper {
        margin-left: 231px;
      }

      .img-3d-wrapper {
        margin-top: 48px;
        margin-bottom: 80px;
      }
    }

    .img-ring {
      width: 251px;
      height: 174px;

    }

    h3 {
      margin-top: 0;
      margin-bottom: 59px;
    }

    .text-achievement {
      .p1 {
        max-width: 996px;
      }
    }

    .text-1 {
      min-width: 557px;
      padding-right: 230px;

    }

    .achievement {

      .table-achievements {
        font-size: 24px;

        .row {
          margin-bottom: 45px;

          &:last-child {
            margin-bottom: 0px;
          }
        }

        .year {
          font-weight: 400;
          margin-right: 44px;
          width: 62px;
        }

        .place {
          font-weight: 700;
          margin-right: 60px;
          width: 373px;
        }

        .site {
          font-weight: 400;
          max-width: 455px;
        }
      }
    }
  }
}
