@import "scss/vars";

.navbar {
  width: 100%;
  height: 100%;
  font-family: Panton SemiBold, serif;
  font-weight: 600;

  .navbar-icon {
    width: 28px;
    height: 28px;
  }

  .link{
    font-family: Panton SemiBold,serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.01px;
    text-align: left;

  }

  .contacts{
    a {
      font-family: Panton Light;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      letter-spacing: 0.03em;
      text-align: left;
    }
  }

  .phone-number {
    font-family: Panton SemiBold, serif;
  }

  .sub-menu-wrapper {
    gap: 10px;
    margin-top: 10px;
  }

  .contacts-mobile {

    a{
      margin-top: 114px;
      //styleName: P1 Text Mobile;
      font-family: Panton;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: center;
    }


    .phone-number {
      margin-bottom: 15px;
    }
  }

  #collapse {
    display: none;
  }

  label[for="collapse"] {
    cursor: pointer;
    display: none;
  }


  @media (max-width: $lg-breakpoint) {
    padding-top: 17px;

    .btn-invisible{
      justify-content: center;
    }

    .collapsible-wrapper{
      justify-content: center;
    }

    .link{
      //styleName: P1 Text Mobile;
      font-family: Panton;
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-align: center;

    }


    .logo-header  {
      width: 115px;
      height: 37px;
    }

    .sub-link {
      //styleName: P3 Text Mobile;
      font-family: Panton;
      font-size: 13px;
      font-weight: 400;
      line-height: 15.6px;
      text-align: center;

    }


    .menu-wrapper {
      gap: 31px;
      margin-bottom: 31px;
    }

    label[for="collapse"] {
      display: initial;
    }

    .collapsible {
      display: none;
      padding: 55px 0;
    }

    #collapse:checked ~ .collapsible {
      display: block;
    }
  }

  @media (min-width: $lg-breakpoint) {
    padding-top: 25px;

    .btn-invisible{
      justify-content: end;
    }

    .phone-number{
      a{
        font-family: Panton SemiBold;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.44px;
        text-align: left;
      }
    }

    .phone-top{
      margin-bottom: 12px;
    }
    .logo-header {
      width: 174px;
      height: 56px;
    }
    .link {
      font-weight: 600;
      font-size: 14px;
    }

    .menu-wrapper {
      gap: 25px;
      padding: 0px 79px 0 82px;
    }

    .collapsible {
      //display: flex;

      .logo-wrapper {
        max-height: 56px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}


