@import "src/scss/vars";

.error-page {
  position: relative;

  .img-gauss {
    max-height: 100%;
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    text-align: center;
  }

  .header-number {
    text-align: center;
    font-weight: 400;
  }

  .header-text {
    text-align: center;
  }


  @media (min-width: $mobile-breakpoint) {

    .btn-wrapper{
      margin-right: 20px;
    }

    .header-number {
      font-size: 100px;
      //margin-bottom: 45px;
      margin-bottom: 5px;
    }

    .header-text {
      letter-spacing: -1px;
      font-size: 48px;
      margin-bottom: 43px;
    }

    .img-gauss {
      top: 50%;

      img {
        width: 1256px;
        height: 1140px
      }
    }

    .error-wrapper {
      button {
        padding: 10px 91px;
        //width: 469px;
        height: 55px;

       // letter-spacing: -1px;
        font-family: Panton;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: center;

      }
    }

    .content {
      margin-top: 76px;
      margin-bottom: 68px;
    }
  }

  @media (max-width: $mobile-breakpoint) {

    .header-number {
      font-size: 72px;
      //margin-bottom: 30px;
    }

    .header-text {
      font-size: 18px;
      margin-bottom: 30px;
    }

    .error-wrapper {

      button {
        max-width: 287px;
        height: 59px;

      }
    }

    .img-gauss {
      position: absolute;
      /* max-height: 100%; */
      /* overflow: hidden; */
      /* top: 0; */
      top: 200px;

      img {
        padding-top: 0;
        width: 460px;
        height: 463px;
        transform: rotate(138.75deg);
      }
    }

    .content {
      margin-top: 80px;
      margin-bottom: 70px;
    }

  }

}
