@import "src/scss/vars";

.footer {
  display: flex;
  align-items: end;
  height: 100%;
  justify-content: center;

  .footer-wrapper {
    margin-top: auto;
    height: fit-content;
    width: 100%;
    background-color: var(--bg-1);
    outline: $border;
    border-radius: $radius-30 $radius-30 0 0;

    @media (max-width: $mobile-breakpoint) {
      margin: 0;

      .btn-footer {

        margin: 2px 0 0 0;
        border-radius: 10px;

        .btn{
          padding: 13px 30px;
        }
      }

      .icons-wrapper{
        gap:20px
      }

      .phone {
        text-decoration: underline !important;
      }

      .footer-content-wrapper {
        justify-content: center;
        gap: 29px;
        margin-bottom: 36px;

        .button {
          max-width: 160px;
          max-height: 45px;
        }

        .footer-icon {
          width: 47px;
          height: 46px;
        }

        .year {
          font-size: 12px;
        }

        .logo-wrapper {
          margin-top: 34px;
          margin-left: 0px;
          margin-bottom: 10px;
          width: 115px;
          height: 37px;

        }

        .contacts {
          margin: 0px;
          gap: 29px;
        }
      }
    }

    @media (min-width: $mobile-breakpoint) {
      margin: 0 71px;

      .icons-wrapper{
        gap:11.7px
      }

      .footer-content-wrapper {
        margin-bottom: 19px;

        .phone {
          margin-bottom: 10px;
        }

        .btn-footer {
          margin-top: 31px;
          margin-left: 0px;
          margin-right: 35px;
        }

        button {
          width: 197px;
          height: 56px;

          //styleName: P4;
          font-family: Panton SemiBold;
          font-size: 18px;
          font-weight: 600;
          line-height: 21.87px;
          text-align: center;

        }

        .footer-icon {
          width: 25.2px;
          height: 25px;
        }

        .year {
          margin-top: 10px;
          font-size: 10px;
        }

        .logo-wrapper {
          margin-top: 21px;
          margin-left: 37px;
          margin-bottom: 16px;
          width: 156px;
          height: 51px;

        }
      }

      .contacts {
        margin-top: 32px;
        margin-left: 37px;
        margin-right: 62px;
      }
    }
  }
}

