@import "src/scss/vars";

.comment {

  .p1{
    margin: 0;
  }

  .comment-text-wrapper{
    display: flex;
    max-width: 490px;
    background: var(--bg-5);
    outline: $border;
    border-radius: 49px;
  }

  .comment-text {

    margin: 25px 33px 25px 35px;

    .author {
      text-align: end;
      display: flex;
      justify-content: end;
      margin-top: 15px;
      font-weight: 700;

      .author-text{
        max-width: 189px;
      }
    }
  }

  .avatar {
    border-radius: 100px;
    overflow: hidden;
    outline: $border;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: $mobile-breakpoint) {

    .author {
      font-size: 18px;
    }

    .comment-wrapper {
      gap:18px
    }

    .avatar {
      width: 87px;
      height: 87px;
    }
  }

  @media (max-width: $mobile-breakpoint) {

    .comment-text{
        margin: 25px;

    }
    .position{
      max-width: 179px;
      font-size: 16px;
      font-weight: 700;
    }

    .avatar-wrapper {
      gap: 15px;
      margin-bottom: 20px;
    }

    .avatar {
      width: 54px;
      height: 54px;
    }
  }

}
