:root{
  //main colors
  --font-color:var(--bg-2);

  //other colors
  --bg-1:#F8F6FF;
  --bg-2:#352958;
  --bg-3:#EFF0FF;
  --bg-4:#B1A8CB;
  --bg-5:#F8F8FB;
  --bg-6:#B8B7BB;
  --bg-7:#F2F2FE;

  --bg-8:#5F4E92;

  --black: #000000;
  --white:#FFFFFF;
}
