//sizes
$radius: 10px;
$radius-20: 20px;
$radius-30: 30px;

//$padding1: 10px;
//$padding2: 14px;

$margin-mobile: 24;
$margin-pc: 108;

//screen
$mobile-breakpoint: 576px;
$pc-breakpoint: 1440px;

$border: 2px solid var(--bg-2);



